.mapLabel {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    z-index: 999;
    left: 0;
    right: 0;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
