.container {
  width: 330px;
  height: 220px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &.mobContainer {
    bottom: 50px !important;
    left: 0px !important;
    right: 0px !important;
    top: unset !important;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #666;
    border-radius: 0px;
  }
}

.crossIcon {
  width: 11px;
  height: 11px;
}

.crossButton {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  &.mob {
    display: none;
  }
}
