.container {
  position: fixed;
  bottom: 20px;
  width: fit-content;
  padding: 10px 20px;
  background: #000000ab;
  border-radius: 13px;
  color: white;
  transition: 0.1s !important;

  &.mobContainer {
    top: 50%;
    bottom: unset;
    left: 0px;
    right: 0px;
    margin: 0px auto;
  }
}
