.container {
  width: 82%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  & > div:nth-child(1) {
    cursor: grab !important;
  }

  & > div > div > div {
    transition: transform 0.1s;
  }
}

.fullWideContainer {
  width: 100%;
}

.interactiveObject {
  cursor: pointer;
  display: block;

  &:hover > path:nth-child(1) {
    filter: brightness(.9);
  }
}

.selectedElement > path:nth-child(1) {
  fill: #80c2ff;
}

.directed > path {
  filter: brightness(.9);
}

.image {
  width: fit-content;
  height: fit-content;
}
